/* -------------------------

   Rotating In X

---------------------------- */

.mc-item {
   &.mc-item--rotating-in-top,
   &.mc-item--rotating-in-bottom {
      > .mc-item__caption {
         z-index: -1;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
      > .mc-item__image {
         z-index: 2;
         transform: rotateX(0);
         transition: transform 0.3s ease-in;
      }
   }

   // Rotating In Top
   &.mc-item--rotating-in-top {
      @include rotatingX(180deg);
      > .mc-item__image {
         transform-origin: 0% 0%;
      }
   }

   // Rotating In Bottom
   &.mc-item--rotating-in-bottom {
      @include rotatingX(-180deg);
      > .mc-item__image {
         transform-origin: 100% 100%;
      }
   }
}
