// MIXINS FOR: BREAKPOINT

@mixin breakpoint($break) {
   @if($break == true) {
         @media (min-width: 480px) {@content;}
   } @else {
      @content;
   }
}

// MIXINS FOR: 'sliding-*'

@mixin sliding($x, $y) {
   &:hover,
   &:focus {
      > .mc-item__image {
         transform: translate($x, $y);
      }
   }
}

// MIXINS FOR: 'rotating-*'

@mixin rotatingX($deg) {
   &:hover,
   &:focus {
      > .mc-item__image {
         transform: rotateX($deg);
      }
   }
}

@mixin rotatingY($deg) {
   &:hover,
   &:focus {
      > .mc-item__image {
         transform: rotateY($deg);
      }
   }
}

@mixin rotatingXY($deg) {
   &:hover,
   &:focus {
      > .mc-item__image {
         transform: rotate($deg);
      }
   }
}
