// ALL NAME FOR EFFECTS

// IN THIS EFFECT (1):
//
// fadeIn Caption
$effect-1b: "fadeInRightDown";

// IN THIS EFFECT (2):
//
// Sliding Caption and Image
$effect-2a: "slideInUp";
$effect-2b: "slideInUpBig";
$effect-2c: "slideInDown";
$effect-2d: "slideInDownBig";

// IN THIS EFFECT (3):
//
// Sliding Caption and ScaleIn Image
$effect-3a: "slideScaleInUp";
$effect-3b: "slideScaleInUpBig";
$effect-3c: "slideScaleInDown";
$effect-3d: "slideScaleInDownBig";

// IN THIS EFFECT (4):
//
// ScaleOut Image
$effect-4a: "scaleOut";
$effect-4b: "scaleOutUp";
$effect-4c: "scaleOutDown";

// IN THIS EFFECT (5):
//
// Sliding Caption and ScaleOut Image
$effect-5a: "slideScaleOutUp";
$effect-5b: "slideScaleOutDown";
$effect-5c: "slideScaleOutLeft";
$effect-5d: "slideScaleOutRight";

// IN THIS EFFECT (6):
//
// Sliding Caption and Image to the 50%
$effect-6a: "slideMediumInLeft";
$effect-6b: "slideMediumInRight";
