/* -------------------------

   Sliding In X

---------------------------- */

.mc-item {
   &.mc-item--sliding-in-right,
   &.mc-item--sliding-in-left {
      > .mc-item__caption {
         z-index: -1;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
      > .mc-item__image {
         z-index: 2;
         transform: translate(0, 0);
      }
   }

   // Sliding In Right
   &.mc-item--sliding-in-right {
      @include sliding(100%, 0);
   }

   // Sliding In Left
   &.mc-item--sliding-in-left {
      @include sliding(-100%, 0);
   }
}
