/* -------------------------

   Sliding In Y

---------------------------- */

.mc-item {
   &.mc-item--sliding-in-top,
   &.mc-item--sliding-in-bottom {
      > .mc-item__caption {
         z-index: -1;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
      > .mc-item__image {
         z-index: 2;
         transform: translate(0, 0);
      }
   }

   // Sliding In Top
   &.mc-item--sliding-in-top {
      @include sliding(0, -100%);
   }

   // Sliding In Bottom
   &.mc-item--sliding-in-bottom {
      @include sliding(0, 100%);
   }
}
