/* -------------------------
   Effect 5
---------------------------- */

// IN THIS EFFECT (5):
//
/* Sliding Caption and ScaleOut Image */
.mc-item {
   &.mc-item--#{$effect-5a},
   &.mc-item--#{$effect-5b},
   &.mc-item--#{$effect-5c},
   &.mc-item--#{$effect-5d} {
      overflow: hidden;
      > .mc-item__image {
         transform: scale(1);
      }
      > .mc-item__caption {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }

      &:hover,
      &.touch {
         > .mc-item__image {
            transform: scale(0.5);
         }
      }
   }

   &.mc-item--#{$effect-5a},
   &.mc-item--#{$effect-5b},
   &.mc-item--#{$effect-5c},
   &.mc-item--#{$effect-5d} {
      &:hover,
      &.touch {
         > .mc-item__caption {
            transition-delay: 0.2s;
            transform: translate(0, 0);
         }
      }
   }

   // Sliding and ScaleOut in Y
   &.mc-item--#{$effect-5a} {
      > .mc-item__caption {
         transform: translate(0, 100%);
      }
   }
   &.mc-item--#{$effect-5b} {
      > .mc-item__caption {
         transform: translate(0, -100%);
      }
   }

   // Sliding and ScaleOut in X
   &.mc-item--#{$effect-5c} {
      > .mc-item__caption {
         transform: translate(-100%, 0);
      }
   }
   &.mc-item--#{$effect-5d} {
      > .mc-item__caption {
         transform: translate(100%, 0);
      }
   }
}
