/* -------------------------
   Effect 2
---------------------------- */

// IN THIS EFFECT:
//
// Sliding Caption and Image
.mc-item {
   &.mc-item--effect-2,
   &.mc-item--effect-2b,
   &.mc-item--effect-2c,
   &.mc-item--effect-2d {
      overflow: hidden;
      > .mc-item__image {
         transform: translateY(0);
      }
      > .mc-item__caption {
         position: absolute;
         left: 0;
         width: 100%;
      }
      
      &:hover,
      &.touch {
         > .mc-item__caption {
            transform: translateY(0);
         }
      }
   }

   &.mc-item--effect-2b,
   &.mc-item--effect-2d {
      > .mc-item__caption {
         height: 100%;
      }
   }

   // From Bottom to Top
   &.mc-item--effect-2,
   &.mc-item--effect-2b {
      > .mc-item__caption {
         bottom: 0;
         transform: translateY(100%);
      }
      &:hover,
      &.touch {
         > .mc-item__image {
            transform: translateY(-2em);
         }
      }
   }

   // From Top to Bottom
   &.mc-item--effect-2c,
   &.mc-item--effect-2d {
      > .mc-item__caption {
         top: 0;
         transform: translateY(-100%);
      }
      &:hover,
      &.touch {
         > .mc-item__image {
            transform: translateY(2em);
         }
      }
   }
}
