/* -------------------------
   Effect 6
---------------------------- */

// IN THIS EFFECT:
//
// Rotating Image
.mc-item {
   &.mc-item--effect-6,
   &.mc-item--effect-6b,
   &.mc-item--effect-6c,
   &.mc-item--effect-6d {
      > .mc-item__image {
         z-index: 2;
         transform: rotate(0);
      }
      > .mc-item__caption {
         z-index: -1;
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   // Rotating Top-Left and Botton-Right
   &.mc-item--effect-6,
   &.mc-item--effect-6d {
      &:hover,
      &:focus {
         > .mc-item__image {
            transform: rotate(-90deg);
         }
      }
   }

   &.mc-item--effect-6 {
      > .mc-item__image {
         transform-origin: 0% 0%;
      }
   }

   &.mc-item--effect-6b {
      > .mc-item__image {
         transform-origin: 0% 100%;
      }
   }

   // Rotating Top-Right and Bottom-Left
   &.mc-item--effect-6c,
   &.mc-item--effect-6b {
      &:hover,
      &:focus {
         > .mc-item__image {
            transform: rotate(90deg);
         }
      }
   }

   &.mc-item--effect-6c {
      > .mc-item__image {
         transform-origin: 100% 0%;
      }
   }

   &.mc-item--effect-6d {
      > .mc-item__image {
         transform-origin: 100% 100%;
      }
   }
}
